/* Overall style */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
}
::selection{
  background-color: black;
  color: white;
}

/* Dark mode */
.dark-mode{
  background: #192734;
}
.navbar .menu i{
  position: absolute;
  font-size: 20px;
  margin-left: 55px;
  cursor: pointer;
  color: black
}
.navbar.sticky .menu i{
  position: absolute;
  font-size: 20px;
  margin-left: 55px;
  cursor: pointer;
  color: white;
}

/* Loading Animation */
.loader {
  position: fixed;
  border: 7px solid #f3f3f3;
  border-top: 5px solid crimson;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
  transition: opacity 0.3s ease;
  left: 45%;
  top: 40%;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  25% {transform: rotate(180deg); }
  75% {transform: rotate(270deg); }
  100% { transform: rotate(360deg); }
}
.load-finish{
  opacity: 0;
}

/* Intro Animation */
.intro{
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.slider{
  background: crimson;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  z-index: 11;
}
.dark-mode .slider{
  background: #28abb9;
}
.hide{
  background: black;
  overflow: hidden;
}
.hide span{
  display: inline-block;
  transform: translateY(100%);
}
#highlight{
  color: crimson;
}
.dark-mode #highlight{
  color: #28abb9;
}
.intro-text{
  color: aliceblue;
  font-family: 'PT Sans', sans-serif;
  font-size: 30px;
}

/* Menu button styling */
.menu-btn{
  color: black;
  font-size: 23px;
  cursor: pointer;
  display: none;
  z-index: 10;
}

/* Navigaton bar style */
.navbar{
  font-family: 'Ubuntu', sans-serif;
  padding: 30px 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  transition: all 0.3s ease;
}
.navbar.sticky{
  padding: 15px 0;
  background: crimson;
  box-shadow: 0px 3px 10px rgba(97, 91, 91, 0.548);
}
.dark-mode .navbar .fa-toggle-on{
  color: whitesmoke;
}
.dark-mode .navbar.sticky{
  background: #28abb9;
}
.dark-mode .navbar.sticky .fa-toggle-on{
  color: black;
}
.navbar .max-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.max-width{
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
.navbar .logo a{
  color: black;
  font-size: 35px;
  font-weight: 600;
}
.dark-mode .navbar .logo a{
  color: white;
}
.navbar .logo a span{
  color: crimson;
}
.dark-mode .navbar .logo a span{
  color: #28abb9;
}
.navbar.sticky .logo a span{
  transition: all 0.3s ease;
  color: white;
}
.dark-mode .navbar.sticky .logo a span{
  color: black;
}
.navbar .menu li{
  list-style: none;
  display: inline;
}
.navbar .menu li a{
  color: black;
  font-size: 18px;
  font-weight: 600;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.dark-mode .navbar .menu li a{
  color: white;
}
.navbar .menu li a:hover{
  color: crimson;
}
.dark-mode .navbar .menu li a:hover{
  color: #28abb9;
}
.navbar.sticky .menu li a:hover{
  color: white;
}
.dark-mode .navbar.sticky .menu li a:hover{
  color: black;
}

/* Custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Sroll op button styling */
.scroll-up-btn{
  position: fixed;
  height: 45px;
  width: 42px;
  background: crimson;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 8;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.dark-mode .scroll-up-btn{
  background: #28abb9;
}
.scroll-up-btn.show{
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
.scroll-up-btn:hover{
  filter: brightness(90%);
}

/* Home page styling */
.home{
  display: flex;
  font-family: 'Poppins', sans-serif;
  color: black;
  min-height: 500px;
  height: 100vh;
  /* background: linear-gradient(rgba(167, 115, 115, 0.25),rgba(167, 115, 115, 0.25)); */
  background-size: cover;
}
.dark-mode .home{
  color: white;
}
.home .max-width{
  margin: auto 0 auto 40px;
  line-height: 65px;
}
.home .home-content .line-1{
  font-size: 27px;
}
.home .home-content .line-2{
  font-size: 75px;
  font-weight: 600;
  margin: -3px;
}
.home .home-content .line-3{
  font-size: 40px;
  margin: 5px 0;
}
.home .home-content .line-3 span{
  color: crimson;
  font-weight: 500;
}
.dark-mode .home .home-content .line-3 span{
  color: #28abb9;
}
.home .home-content a{
  display: inline-block;
  background: crimson;
  color: white;
  font-size: 25px;
  padding:0px 35px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.dark-mode .home .home-content a{
  background: #28abb9;
  border: 2px solid #28abb9;
}
.home .home-content a:hover{
  color: crimson;
  background: none;
}
.dark-mode .home .home-content a:hover{
  color: #28abb9;
}
.rating .fa-star{
  color: #888;
}
.rating .checked{
  color: crimson;
}
.dark-mode .rating .checked{
  color: #28abb9;
}

/* Section styling */
section{
  padding: 80px 0;
}
section .title{
  position: relative;
  color: black;
  font-size: 40px;
  font-weight: 500;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  margin-bottom: 60px;
  padding-bottom: 70px;
}
.dark-mode section .title{
  color: white;
}
section .title::before{
  content: "";
  bottom: 55px;
  left: 50%;
  position: absolute;
  width: 180px;
  height: 3px;
  background: black;
  transform: translateX(-50%);
}
.dark-mode section .title::before{
  background: white;
}
section .title::after{
  font-size: 20px;
  bottom: 40px;
  left: 50%;
  position: absolute;
  padding: 5px;
  color: crimson;
  background: white;
  transform: translateX(-50%);
}
.dark-mode section .title::after{
  color: #28abb9;
  background: #192734;
}
.about, .works, .skills, .contact{
  font-family: 'Poppins', sans-serif;
}
.about .about-content, .works .works-content, .skills .skills-content, .contact .contact-content{
  margin-top: -40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* About page styling */
.about .title::after{
  content: "who I am";
}
.about .about-content .left{
  width: 45%;
}
.about .about-content .left img{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
}
.about .about-content .right{
  width: 55%;
}
.about .about-content .right .text{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.dark-mode .about .about-content .right .text{
  color: white;
}
.about .about-content .right .text span{
  color: crimson;
}
.dark-mode .about .about-content .right .text span{
  color: #28abb9;
}
.about .about-content .right p{
  text-align: justify;
}
.dark-mode .about .about-content .right p{
  color: white;
}
.about .about-content .right p span{
  color: crimson;
}
.dark-mode .about .about-content .right p span{
  color: #28abb9;
}
.about .about-content .right a{
  display: inline-block;
  background: crimson;
  color: white;
  font-size: 20px;
  padding:10px 20px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.dark-mode .about .about-content .right a{
  background: #28abb9;
  border: 2px solid #28abb9;
}
.about .about-content .right a:hover{
  color: crimson;
  background: none;
}
.dark-mode .about .about-content .right a:hover{
  color: #28abb9;
}

/* Works page styling */
.works{
  color: white;
  background: black;
}
.dark-mode .works{
  color: black;
  background: white;
}
.works .title{
  color: white;
}
.dark-mode .works .title{
  color: black;
}
.works .title::before{
  background: white;
}
.dark-mode .works .title::before{
  background: black;
}
.works .title::after{
  background: black;
  content: "what I offer";
}
.dark-mode .works .title::after{
  background: white;
}
.works .works-content .card{
  height: 350px;
  width: calc(25% - 20px);
  background: #222222;
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.dark-mode .works .works-content .card{
  background: #222222;
}
.works .works-content .card:hover{
  background: crimson;
}
.dark-mode .works .works-content .card:hover{
  background: #28abb9;
}
.works .works-content .card .box{
  transition: all 0.3s ease;
}
.works .works-content .card:hover .box{
  transform: scale(1.05);
}
.works .works-content .card i{
  font-size: 40px;
  color: crimson;
  transition: all 0.3s ease;
}
.dark-mode .works .works-content .card i{
  color: #28abb9;
}
.dark-mode .works .works-content .card .text, .dark-mode .works .works-content .card p{
  color: white;
}
.works .works-content .card:hover i{
  color: white;
}
.dark-mode .works .works-content .card:hover i, .dark-mode .works .works-content .card:hover p, .dark-mode .works .works-content .card:hover .text{
  color: black;
}
.works .works-content .card .box .text{
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}

/* Skills page styling */
.skills .title::after{
  content: "what I excel";
}
.skills .skills-content .column{
  width: calc(50% - 30px);
}
.dark-mode .skills .skills-content{
  color: white;
}
.skills .skills-content .left .text{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.skills .skills-content .left p{
  text-align: justify;
}
.skills .skills-content .right .bars{
  margin-bottom: 15px;
}
.skills .skills-content .right .info{
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}
.skills .skills-content .right span{
  font-weight: 500;
  font-size: 18px;
}
.skills .skills-content .right .line{
  height: 5px;
  width: 100%;
  background: lightgrey;
  position: relative;
}
.skills .skills-content .right .line::before{
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: crimson;
}
.dark-mode .skills .skills-content .right .line::before{
  background: #28abb9;
}
.skills-content .right .html::before{
  width: 95%;
}
.skills-content .right .css::before{
  width: 95%;
}
.skills-content .right .js::before{
  width: 65%;
}
.skills-content .right .python::before{
  width: 95%;
}
.skills-content .right .mysql::before{
  width: 60%;
}
.skills-content .right .ps::before{
  width: 95%;
}
.skills-content .right .ai::before{
  width: 95%;
}
.skills-content .right .pr::before{
  width: 95%;
}
.skills-content .right .au::before{
  width: 85%;
}
.skills-content .right .ae::before{
  width: 85%;
}

/* Contact page styling */
.contact .title::after{
  content: "get in touch";
}
.contact .contact-content .column{
  width: calc(50% - 30px);
}
.dark-mode .contact .contact-content{
  color: white;
}
.contact .contact-content .text{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact .contact-content .left p{
  text-align: justify;
}
.contact .contact-content .left .icons{
  margin: 10px 0;
}
.contact .contact-content .row{
  display: flex;
  height: 65px;
  align-items: center;
}
.contact .contact-content .row .info{
  margin-left: 30px;
}
.contact .contact-content .row i{
  font-size: 25px;
  color: crimson;
}
.dark-mode .contact .contact-content .row i{
  color: #28abb9;
}
.contact .contact-content .info .head{
  color: #111111;
  font-weight: 600;
}
.dark-mode .contact .contact-content .info .head{
  color: whitesmoke;
}
.contact .contact-content .info .sub-title{
  color: #333333;
}
.dark-mode .contact .contact-content .info .sub-title{
  color: #d3d3d3;
}
.contact .right form .fields{
  display: flex;
}
.dark-mode .contact .right form input, .dark-mode .contact .right form textarea{
  color: #d3d3d3;
  background: #192734;
}
.contact .right form .field,
.contact .right form .fields .field{
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}
.contact .right form .textarea{
  height: 80px;
  width: 100%;
}
.contact .right form .name{
  margin-right: 10px;
}
.contact .right form .email{
  margin-left: 10px;  
}
.contact .right form .field input,
.contact .right form .textarea textarea{
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
  border-color: crimson;
}
.dark-mode .contact .right form .field input:focus,
.dark-mode .contact .right form .textarea textarea:focus{
  border-color: #28abb9;
}
.contact .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}
.contact .right form .button{
  height: 47px;
  width: 170px;
}
.contact .right form .button button{
  width: 100%;
  height: 100%;
  border: 2px solid crimson;
  background: crimson;
  color: #fff;
  outline: none;
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.dark-mode .contact .right form .button button{
  border: 2px solid #28abb9;
  background: #28abb9;
}
.contact .right form .button button:hover{
  color: crimson;
  background: none;
}
.dark-mode .contact .right form .button button:hover{
  color: #28abb9;
}

/* Comment section styling */
.comments .title::after{
  content: "what you think";
}
.comments .comments-content{
  font-family: 'Poppins', sans-serif;
  display: flex;
}
.dark-mode .comments .comments-content{
  color: white;
}
.comments .comments-content .column{
  width: calc(50%);
}
.comments .left .ask{
  display: flex;
}
.comments .left form i{
  cursor: pointer;
  font-size: 35px;
  transition: all 0.3s ease;
  transform: translateY(10%);
}
.comments .left form i.active{
  color: crimson;
}
.dark-mode .comments .left form i.active{
  color: #28abb9;
}
.comments .left .ask p{
  font-size: 15px;
  font-weight: 600;
}
.comments .left form .textarea textarea{
  padding: 0 15px;
  padding-top: 10px;
  font-family: 'Poppins', sans-serif;
  resize: none;
  outline: none;
  font-size: 15px;
  border-radius: 6px;
  border: 1px solid lightgrey;
  transition: all 0.3s ease;
}
.dark-mode .comments .left form .textarea textarea{
  color: #f1f1f1;
  background: #192734;
}
.dark-mode .comments .left form .textarea textarea::placeholder{
  color: #d3d3d3;
}
.comments .left form .textarea textarea:focus{
  border-color: crimson;
}
.dark-mode .comments .left form .textarea textarea:focus{
  border-color: #28abb9;
}
.comments .left form .button button{
  padding: 5px;
  width: 15%;
  border: 2px solid crimson;
  background: crimson;
  color: #fff;
  outline: none;
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.dark-mode .comments .left form .button button{
  border: 2px solid #28abb9;
  background: #28abb9;
}
.comments .left form .button button:hover{
  color: crimson;
  background: none;  
}
.dark-mode .comments .left form .button button:hover{
  color: #28abb9;
}
.comments .right p{
  font-size: 15px;
  text-align: justify;
}
/* Footer styling */
footer{
  font-family: 'PT Sans',sans-serif;
  background: #111;
  padding: 15px 23px;
  color: #fff;
  text-align: start;
  justify-content: space-around;
  align-items: center;
}
footer span a{
  color: crimson;
  text-decoration: none;
}
.dark-mode footer span a{
  color: #28abb9;
}
.social-icons{
  float: right;
  margin-top: 15px;
  margin-right: 130px;
  display: flexbox;
  font-size: 20px;
  letter-spacing: 5px;
  color: crimson;
  align-items: center;
}
.dark-mode .social-icons{
  color: #28abb9;
}
.social-icons a{
  color: crimson;
  text-decoration: none;
  transition: all 0.3s ease-out;
}
.dark-mode .social-icons a{
  color: #28abb9;
}
.social-icons a:hover{
  color: aliceblue;
}

/* Responsive */
@media (max-width: 1300px){
  .home .max-width{
    margin-left: 0px;
  }
  .works .works-content .card{
    width: 100%;
    margin-bottom: 25px;
  }
}
@media (max-width: 1104px){
  .about .about-content .left img{
    height: 350px;
    width: 350px;
  }
  .about .about-content .left{
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about .about-content .right{
    flex: 100%;
  }
}
@media (max-width: 991px){
  .max-width{
    padding: 0 50px;
  }
}

@media (max-width: 947px){
  .navbar .menu{
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: black;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active{
    left: 0%;
  }
  .navbar .menu li{
    display: block;
  }
  .navbar .menu li a{
    color: white;
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .menu-btn{
    display: block;
    z-index: 5;
    transition: all 0.3s ease;
  }
  .menu-btn.active{
    color: white;
  }
  .menu-btn i.active:before{
    content: "\f00d";
  }
  .home .home-content .line-2{
    font-size: 70px;
  }
  .home .home-content .line-3{
    font-size: 35px;
  }
  .home .home-content a{
    font-size: 23px;
  }
  .max-width{
    max-width: 930px;
  }
  .about .about-content .column{
    width: 100%;
  }
  .works .works-content .card{
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .skills .skills-content .column,.contact .contact-content .column{
    width: 100%;
    margin-bottom: 35px;
  }
  .intro-text{
    font-size: 20px;
  }
}
@media (max-width: 690px){
  .max-width{
    padding: 0 23px;
  }
  .home .home-content .line-2{
    font-size: 60px;
  }
  .home .home-content .line-3{
    font-size: 32px;
  }
  .home .home-content a{
    font-size: 20px;
  }
  .works .works-content .card{
    width: 100%;
  }
  .social-icons{
    float: right;
    margin-top: 15px;
    margin-right: 50px;
    display: flexbox;
    font-size: 20px;
    letter-spacing: 5px;
    color: crimson;
    align-items: center;
  }
}
@media (max-width: 510px){
  .home .home-content .line-2{
    font-size: 50px;
  }
  .home .home-content .line-3{
    font-size: 27px;
  }
  .about .about-content .left img{
    height: 300px;
    width: 300px;
  }
  .contact .right form .fields{
    flex-direction: column;
  }
  .contact .right form .name,
  .contact .right form .email{
    margin: 0;
  }
  .scroll-up-btn{
    right: 15px;
    bottom: 15px;
    height: 38px;
    width: 35px;
    font-size: 23px;
    line-height: 38px;
  }
  .intro-text{
    font-size: 15px;
  }
}